{% extends "base.html" %}
{% load static %}
{% block page_content %}

<br>
<br>
<div class="row">
{% for recipie in recipies %}
<div class="col-md-4 emboss">
        <div class="card mb-2">
            <img class="card-img-top" src="{{ recipie.imageurl }}">
            <div class="card-body">
                <h3 class="card-title">{{ recipie.title }}</h3>
                <p class="card-text"></p>
                <a href="{% url 'recipie_details' recipie.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
                <a class="likebutton" id="like{{recipie.pk}}" data-catid="{{ recipie.pk }}" href="#">
                    Like
                </a>
            </div>
        </div>
    </div>
{% endfor %}
<h1 id="message"></h1>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
    $('.likebutton').click(function(){
    var catid;
    catid = $(this).attr("data-catid");
    $.ajax(
    {
        type:"GET",
        url: "{% url 'likedrecipies' %}",
        data:{
                 recipie_id: catid
        },
        success: function( data ) 
        {
            $( '#like'+ catid ).remove();
            $( '#message' ).text(data);
        }
     })
});
</script>
{% endblock %}