{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="container">
  <h2>My Recipies</h2>
</div>
  
<div class="container">
  <ul class="list-group list-group-flush">
  {% for recipie in recipies %}
    <li class="list-group-item">
            <img src="{{ recipie.imageurl }}" class="img-rounded" alt="Cinque Terre" width="80" height="80">    
            {{recipie.title}}
            <form action="delete" method="GET" style="float:right">
            <input type="hidden" name="recipiepk" value="{{recipie.pk}}">
            <button value="remove" type="submit"  class="btn btn-danger" > &nbsp; Delete</button>
          </form>
            <form action="edit" method="GET" style="float:right">
            <input type="hidden" name="recipiepk" value="{{recipie.pk}}">
            <button value="remove" type="submit"  class="btn btn-warning" > &nbsp; Update</button>
          </form>
          
          
    </li>
  {% endfor %}
  </ul>
</div>

{% endblock %}
